body {
    font-family: 'Arimo', sans-serif;  
    }
.date { background: black;
    color:#ffcc00;  
    }

header { 
    height: 150px;
    background: url(https://s-media-cache-ak0.pinimg.com/originals/1f/19/6e/1f196e0c30a7eb5bfc3731fc47c82aae.jpg);  
    color:#ffcc00;
    }
.nonheader {
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
    }

h1 {
    font-size: 40px;
    color: #ffcc00;
    }
h2 { 
    font-size: 25px;
    color: #ffcc00;
    padding-bottom: 15px;
    }
    
h3 {padding-top: 15px; 
    font-size: 20px;
    }

h4 { font-size: 28px;
    font-weight: bold;
    }

h6 { font-size: 14px;
    }
ul { background:  #ffcc00; list-style-type: none;   
    color: black;
    }

a:visited { text-decoration: none;   
    color:black;
    } 

a { text-decoration: none;   
    color:black;} 

li  {display: inline;  
    word-spacing: 30px;
    text-transform: uppercase; 
    color:#ffcc00;
    } 
.navbar {
    color: black;
    } 

a:hover {font-weight: bold; } 

.floatright {float:right; } 

#chavismotab {font-weight:bolder;
} 

.pullquote  {
    text-align: right;
    font-style:italic;
    font-weight: 500;
    font-size: 25px;
    float: right;
   margin-left: 2em;
} 
p {
   margin-right: 10em;
    padding-top: 1em;
} 


.twitterlink { color: #00b8e6;
   } 

.article { border:2em;
   } 
.floatleft { float:left;
   } 

